{% if product.metafields.custom_fields["besparelse"] != blank %}
  <div class="custom-field custom-field__besparelse custom-field__type--text">
    <h3 class="custom-field--title">Besparelse</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["besparelse"] }}
    </div>
  </div>
{% endif %}