  .brands-slider .slick-slide a {
    display: flex;
    align-items: center;
    height: 200px;
  }
  
  .red-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .center-red-button {
    padding: 8px 40px 8px 40px;
    background-color: #7c0000;
    color: white;
    text-decoration: none !important;
    transition: ease 0.3s !important;
    border: 1px solid #7c0000;
    font-size: 15px;
  }

  .center-red-button:hover {
    color: #333;
    background-color: white;
  }
  
  .price-box .price-regular {
    font-size: 16px;
  }
  
  .grid-item .inner.product-item {
    height: 100%;
  }
  
    .grid-item .inner.product-item .inner-top {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .product-item .product-bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .price-box .price-sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .price-box .price-sale span:first-child {
    font-size: 16px;
    display: flex;
    flex-direction: column;
        
  }
  
    .price-box .price-sale span:last-child {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .price-box .price-sale span:last-child::before {
    content: "";
    margin-bottom: 10px;
    color: #333;
  }
  
    .price-box .price-sale span:first-child::before {
    content: "";
    margin-bottom: 10px;
    text-decoration: none !important;
    color: #333;
  }
  
.three-boxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;
}

.red-box-col {
  width: 100%;
  height: 499px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.red-box-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.6s;
}

.red-box-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  transition: ease 0.6s;
  z-index: 2;
  opacity: 0;
}

.center-white-text {
  color: white;
  font-size: 20px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: ease 0.6s;
  font-weight: 400;
}

.red-box-col:hover .red-box-image {
  transform: scale(1.1);
}

.red-box-col:hover .red-box-overlay {
  opacity: 0.5;
}

.red-box-col:hover .center-white-text {
  opacity: 1;
}

.infinite-scrolling {
  display: none;
}

.guides-3-col {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.guides-col-boxes {
  max-width: 1230px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.guides-col {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guides-header {
  color: #7c0000;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.guides-text {
  text-align: center;
}

.guides-text p {
  line-height: 22px;
  letter-spacing: normal;
  color: #3c3c3c;
  font-size: 12px;
}

.guides-btn {
  margin-top: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white !important;
  background-color: #7c0000;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  transition: ease 0.6s;
  align-items: center;
  border: 1px solid #7c0000;
}

.guides-link {
  width: 100%;
  height: 440px;
  position: relative;
  overflow: hidden;
}

.guides-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.6s;
}

.guides-overlay {
  background-color: #000;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: ease 0.6s;
  z-index: 2;
}

.guides-link:hover .guides-img {
  transform: scale(1.1);
}

.guides-link:hover .guides-overlay {
  opacity: 0.5;
}

.guides-btn:hover {
  background-color: white;
  color: #333 !important;
}
  
  
.header-new-flex {
  display: flex;
  gap: 75px;
}

.left-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firmagaverbtn {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.firmagaverbtn:hover {
  color: rgb(255 255 255 / 64%) !important;
}

.firmagaverbtn i {
  font-size: 22px;
  margin-bottom: 10px;
}

.split-dark-container {
  width: 100%;
  height: 662px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.right-content-overlay {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
}

.split-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-content {
  max-width: 425px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-content-paragraph {
  color: #f8f8f8;
  font-size: 12px;
  text-align: center;
  letter-spacing: normal;
  line-height: 22px;
  margin-top: 22px;
}

.right-overlay {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
}

.right-content-header {
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 40px;
  color: #f8f8f8;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.right-content-line {
  width: 40px;
  height: 2px;
  background-color: #f8f8f8;
  display: block;
}


    @media (max-width: 1330px) {
      .guides-col-boxes {
  max-width: 100%;
  width: 100%;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.guides-col {
  width: 100%;
}

.red-box-overlay {
  opacity: 0.5;
}

.center-white-text {
  opacity: 1;
}

.right-content-overlay {
  width: 70%;
}

.header-new-flex {
    display: flex;
    gap: 36px;
    padding-left: 20px;
    margin-bottom: 11px;
}
    }
    
@media (max-width: 1280px) {
.three-boxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;
}

.red-box-col {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
}

@media (max-width: 1199px) {
.header-bottom {
    background-color: #7C0000;
}

.header-bottom a {
    color: white;
}

.icon-nav .icon-line {
  background-color: white;
}

.icon-nav .icon-line:after, .icon-nav .icon-line:before {
  background-color: white;
}

.wrapper-navigation .header-pc a {
    color: #3c3c3c !important;
}
}

@media (max-width: 415px) {
  .three-boxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 15px;
}

.red-box-col:first-child {
  grid-column: 1 / span 2;
}

.right-content-overlay {
  width: 100%;
}

.right-content {
padding-left: 10px;
padding-right: 10px;
}

.split-dark-container {
  height: 500px;
}

.guides-col-boxes {
  max-width: 100%;
  width: 100%;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
}

}

.product-shop .total-price {
    margin-top: 18px;
    margin-bottom: 18px;
}

.product-shop .total-price label {
  font-size: 24px;
  font-weight: bold;
}

.product-shop .total-price .total-money {
  font-size: 24px;
}

.swatch .header [data-option-select] {
    font-weight: bold;
}

.tilbud {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7C0000;
  padding: 5px 20px 5px 20px;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.facets__price {
  display: none;
}